<div class="container">
    <h1 class="text-center text-dark">Users</h1>

    <table class="table table-info table-striped">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Created</th>
                <th>Updated</th>
                <th>#Messages</th>
                <th>Records</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
            <tr>
            <td><%= user.id %></td>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
            <td><%= user.created_at.strftime("%d %b %Y %H:%M") %></td>
            <td><%= user.updated_at.strftime("%d %b %Y %H:%M") %></td>
            <td><%= user.messages.count %>
            <td><%= link_to "View", user_path(user), class: "btn btn-sm btn-light" %></td>
            <td><%= link_to "Edit", edit_user_path(user), class: "btn btn-sm btn-light" %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
    <%= link_to "Add new user", new_user_path, class: "btn btn-dark" %>
</div>

