<%= form_with model: @message do |f| %>
    <div class="mb-3">
      <%= f.label :chat_id, "Chat" %>
      <%= f.select :chat_id, options_from_collection_for_select(@chats, :id, :id, @message.chat_id), prompt: "Select chat" %>
    </div>
  
    <div class="mb-3">
      <%= f.label :user_id, "User" %>
      <%= f.select :user_id, options_from_collection_for_select(@users, :id, :email, @message.user_id), prompt: "Select user" %>
    </div>
  
    <div class="mb-3">
      <%= f.label :body, "Message" %>
      <%= f.text_area :body, class: "form-control"%>
    </div>
  
    <div class="mb-3">
      <%= f.submit "Confirm", class: "btn btn-dark" %>
    </div>
  <% end %>

<% if @message.errors.any? %>
  <div class="alert alert-danger">
  <ul>
    <% @message.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  </div>
<% end %>