<div class="container">
  <h1 class="text-center text-dark">Messages</h1>

  <table class="table table-info table-striped">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Chat</th>
        <th>Sender</th>
        <th>Body</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Records</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody>
      <% @messages.each do |message| %>
        <tr>
          <td><%= message.id %></td>
          <td><%= message.chat_id %></td>
          <td><%= message.user.email %></td>
          <td><%= message.body %></td>
          <td><%= message.created_at.strftime("%d %b %Y %H:%M")  %></td>
          <td><%= message.updated_at.strftime("%d %b %Y %H:%M")  %></td>
          <td><%= link_to "View", message_path(message), class: "btn btn-sm btn-light" %></td>
          <td><% if can? :edit, message %>
            <%= link_to "Edit", edit_message_path(message), class: "btn btn-sm btn-light" %><% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if can? :create, Message.new(user_id: current_user.id) %>
    <%= link_to "New Message", new_message_path, class: "btn btn-dark" %>
  <% end %>
</div>