<div class="container">
  <h1 class="text-center text-dark">Chats Records</h1>

  <div class="card shadow p-3 mb-4 bg-body rounded">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Chat ID:</strong> <%= @chat.id %></li>
      <li class="list-group-item"><strong>Sender:</strong> <%= @chat.sender.email %></li>
      <li class="list-group-item"><strong>Receiver:</strong> <%= @chat.receiver.email %></li>
      <li class="list-group-item"><strong>Created at:</strong> <%= @chat.created_at.strftime("%d %b %Y %H:%M") %></li>
      <li class="list-group-item"><strong>Updated at:</strong> <%= @chat.updated_at.strftime("%d %b %Y %H:%M") %></li>
    </ul>
  </div>

  <div class="card shadow p-3 mb-4 bg-body rounded">
    <p class="text-dark"><strong>Chat Participants:</strong></p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Sender:</strong> <%= @chat.sender.first_name %></li>
      <li class="list-group-item"><strong>Receiver:</strong> <%= @chat.receiver.first_name %></li>
    </ul>
  </div>

  <div class="card shadow p-3 mb-4 bg-body rounded">
    <p class="text-dark"><strong>Messages:</strong></p>
    <ul class="list-group list-group-flush">
      <% @chat.messages.each do |message| %>
        <li class="list-group-item"><%= message.user.email %>: <%= message.body %></li>
      <% end %>
    </ul>
  </div>

  <div class="d-flex gap-2">
    <% if can? :create, Chat.new(sender_id: current_user.id) %>
      <%= link_to "New Chat", new_chat_path, class: "btn btn-dark" %>
    <% end %>
    <%= link_to "Back to chats", chats_path, class: "btn btn-info text-white" %>
  </div>
</div>
